.sharedLayout__head {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 13px 41px 10px rgba(0, 0, 0, 0.1);
}

.head__text {
  /* border: 2px solid red; */
  width: fit-content;
  margin-inline: auto;
  display: flex;
  align-items: center;
}

.email__abbreviate {
  background-color: #bdc3c7;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
}

.head__text > p {
  margin-left: 30px;
  font-size: 20px;
}
@media screen and (max-width: 600px) {
  .email__abbreviate {
    height: 30px;
    width: 30px;
  }

  .email__abbreviate p {
    font-size: 12px;
    font-weight: 900;
  }

  .head__text > p {
    margin-left: 3vw;
    font-size: 3vw;
  }
}

.head__text > p span:first-child {
  font-weight: 600;
}
.head__text > p span:last-child {
  font-weight: 900;
}
