.repos__page {
  /* border: 2px solid red; */
  max-width: var(--maxWidth);
  padding-inline: var(--widthPadding);
  margin: 3rem auto;
}

.user__and__followers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  margin-block: 5rem 3rem;
}
