.followers__section {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.followers__img__con {
  width: 60px;
  margin-right: 20px;
}

.followers__img__con img {
  width: 100%;
  border-radius: 50%;
}
