.single__repo__desc {
  /* border: 2px solid red; */
  max-width: var(--maxWidth);
  padding-inline: var(--widthPadding);
  margin: 3rem auto;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.each__repo__desc {
  /* width: fit-content; */
  padding: 3rem 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 11px 15px 7px rgba(0, 0, 0, 0.1);
  animation: descRepo ease-in-out 0.5s infinite;
}
@keyframes descRepo {
  0% {
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0px 0px 19px 11px rgba(0, 0, 0, 0.1);
  }
}

@media screen and (max-width: 620px) {
  .each__repo__desc {
    padding: 2.5rem 1.5rem;
  }
  .each__repo__desc header h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 400px) {
  .each__repo__desc {
    width: 97%;
    padding: 2.5rem 1rem;
  }
  .each__repo__desc header h1 {
    font-size: 18px;
  }
}

.each__repo__desc header {
  overflow-x: hidden;
  display: flex;
  align-items: center;
}

.repo__name__char {
  border-radius: 5px;
  background-color: #2eafbb;
  padding: 20px;
  color: #fff;
  font-size: 25px;
  margin-right: 20px;
}

.repo__owner {
  /* border: 2px solid red; */
  width: fit-content;
  margin: 20px auto;
  display: flex;
  align-items: center;
}

.repo__owner > div {
  background-color: #fff;
  border-radius: 50%;
  padding: 8px 10px;
  width: 40px;
  margin-right: 10px;
  box-shadow: 0px 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.repo__about {
  margin-block: 20px;
}

.repo__about p {
  margin-top: 10px;
}

.repo__about p span:first-child {
  font-weight: 600;
}
@media screen and (max-width: 620px) {
  .repo__name__char {
    padding: 10px;
    font-size: 20px;
    margin-right: 10px;
  }

  .repo__owner {
    margin: 10px auto;
  }

  .repo__owner h3 {
    font-size: 16px;
  }

  .repo__owner > div {
    padding: 5px 7px;
    width: 30px;
    margin-right: 5px;
  }

  .repo__about {
    /* border: 2px solid red; */
    margin-block: 15px;
  }

  .repo__about p {
    margin-top: 5px;
  }
}
@media screen and (max-width: 400px) {
  .repo__name__char {
    padding: 5px;
    font-size: 18px;
    /* margin-right: 10px; */
  }
}

.desc__body a {
  text-decoration: none;
  border: 2px solid #2eafbb;
  display: block;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
  transition: ease 0.5s all;
}
.desc__body a:hover {
  transform: scale(1.05);
}

.desc__body > a {
  color: #2eafbb;
  font-weight: 600;
  margin-left: auto;
}

.desc__body footer {
  width: fit-content;
  margin-inline: auto;
  display: flex;
}

.desc__body footer a {
  background-color: #2eafbb;
  color: #fff;
  margin: 5px;
}
@media screen and (max-width: 620px) {
  .desc__body a {
    font-size: 12px;
    padding: 3px 8px;
  }

  .desc__body > a {
    margin-inline: auto;
  }

  .desc__body footer a {
    background-color: #2eafbb;
    color: #fff;
    /* margin: 10px; */
  }
}
