* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: var(--fadedgray);
  color: var(--majorTextColor);
}

:root {
  /* colors */
  --fadedgray: #f1f5f8;
  --majorTextColor: #102a42;

  /* Screen max-width and others */
  --maxWidth: 1200px;
  --widthPadding: 15px;
}
