.profile__con {
  background-color: #fff;
  width: 100%;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 4px 25px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-block: 2rem 2rem;
  height: 230px;
}

.profile__con header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.user__img__con {
  border: 2px solid #707070;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user__img__con img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile__con > p:first-child {
  position: absolute;
  top: -45px;
  background-color: #fff;
  padding: 10px 15px;
  font-weight: 700;
  font-size: 20px;
}

.profile__con header > a:last-child {
  margin-left: auto;
}

.btn__con button {
  background-color: inherit;
  border: 2px solid #2eafbb;
  padding: 8px 20px;
  border-radius: 30px;
  color: #2eafbb;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: ease 0.5s all;
}
.btn__con button:hover {
  transform: scale(1.05);
}

.profile__con > p:nth-child(3) {
  margin-block: 20px;
}

.profile__con a {
  font-weight: 600;
}

.profile__con footer div {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.profile__con footer div p:first-child {
  width: 20px;
  margin-right: 10px;
}
@media screen and (max-width: 500px) {
  .profile__con {
    padding: 10px;
    height: 180px;
  }

  .user__img__con {
    margin-right: 10px;
    width: 40px;
    height: 40px;
  }

  .profile__con > p:first-child {
    font-size: 16px;
    top: -40px;
  }

  .profile__con div > h3 {
    font-size: 16px;
    margin-bottom: 3px;
  }

  .btn__con button {
    padding: 5px 10px;
  }

  .profile__con footer div {
    font-size: 16px;
  }
}

.loading__width__height {
  width: 8px;
  height: 8px;
}
.loading__con {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}
