.profile__con {
  background-color: #fff;
  width: 100%;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 4px 25px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-top: 2rem;
  height: 230px;
}

.profile__con header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.user__img__con {
  width: 60px;
  margin-right: 20px;
}

.user__img__con img {
  width: 100%;
  border-radius: 50%;
}

.profile__con > p:first-child {
  position: absolute;
  top: -43px;
  background-color: #fff;
  padding: 10px 15px;
  font-weight: 700;
  font-size: 20px;
}

.profile__con header > a:last-child {
  margin-left: auto;
}

.btn__con button {
  background-color: inherit;
  border: 2px solid #2eafbb;
  padding: 10px 20px;
  border-radius: 30px;
  color: #2eafbb;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.profile__con > p:nth-child(3) {
  margin-block: 20px;
}

.profile__con a {
  font-weight: 600;
}

.profile__con footer div {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.profile__con footer div p:first-child {
  width: 20px;
  margin-right: 10px;
}
